a {
  text-decoration: none;
  color: none;
}

.active {
  font-weight: bold;
  color: red;
}

.tab-pane {
  display: none;
  color: green;
}

.tab-pane.active {
  display: block;
  color: darksalmon;
}
