a {
  text-decoration: none;
  color: none;
}

.active {
  /*transition-property: opacity, left, top, height;*/
  font-weight: bold;
  color: red;
}

.tab-pane {
  opacity: 0;
  display: none;
  color: green;
  transition: 1s;
}

.tab-pane.active {
  opacity: 1;
  display: block;
  color: darksalmon;
}

.tab-pane.transitioning {
  /* From IN-ACTIVE to ACTIVE */
  opacity: 0;
  display: block;
}

.tab-pane.active.transitioning {
  /* From ACTIVE to IN-ACTIVE */
  opacity: 1;
  display: block;
}

img {
  width: 200px;
  height: 100px;
}
