<%= render 'navbar', active: 'about' %>

<div class="container">
  <div class="row">
    <%= render 'breadcrumbs', parents: ['home'], child: 'About Us' %>
  </div> <!-- End Row -->
</div> <!-- End Container -->
