<%= render 'header', active: 'home' %>

<div class="container">
    <%= render 'breadcrumbs', parents: [], child: 'Home' %>

    <div class="row row-content">
      <div class="col-xs-12 col-sm-3 col-sm-push-9">
          <p style="padding:20px;"></p>
          <h3 align="center">Our Lipsmacking Culinary Creations</h3>
      </div>
      <div class="col-xs-12 col-sm-9 col-sm-pull-3">
        <div class="media">
          <div class="media-left media-middle">
            <a  href="#">
              <img class="media-object img-thumbnail"
                   src="img/uthappizza.png" alt="Uthappizza">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">
              Uthappizza  <span class="label label-danger label-xs">Hot</span>
              <span class="badge">$4.99</span>
            </h2>
            <p>A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
            <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <div class="col-xs-12 col-sm-3">
        <p style="padding:20px;"></p>
        <h3 align="center">This Month's Promotions</h3>
      </div>

      <div class="col-xs-12 col-sm-9">
        <div class="media">
          <div class="pull-right">
            <a href="#">
              <img class="media-object img-thumbnail" src="img/buffet.png" alt="Grand Buffet">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">
              Weekend Grand Buffet
              <span class="label label-danger label-xs">New</span>
            </h2>
            <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
            <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-thumbnail"
                     src="img/alberto.png" alt="Alberto Somayya">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">Alberto Somayya</h2>
              <!-- <h4>Executive Chef</h4> -->
              <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. </p>
              <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
            </div>
          </div>
        </div>
    </div>

    <div class="row row-content" id="reserve_table">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>Reserve a Table</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="guest_count" class="col-sm-4 control-label"
              >Number of Guests</label>
              <div class="col-sm-8">
                <input type="radio" name="guest_count" value="1">1</inpurt>
                <input type="radio" name="guest_count" value="2">2</inpurt>
                <input type="radio" name="guest_count" value="3">3</inpurt>
                <input type="radio" name="guest_count" value="4">4</inpurt>
                <input type="radio" name="guest_count" value="5">5</inpurt>
                <input type="radio" name="guest_count" value="6">6</inpurt>
              </div>
            </div> <!-- End Form Group -->

            <div class="form-group">
              <label for="date_and_time" class="col-sm-4 control-label">Date and Time</label>
              <div class="col-sm-3">
                <div class="input-group right-inner-addon">
                  <input type="text" class="form-control" name="date" placeholder="Date">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div> <!-- End .input-group -->
              </div>
              <div class="col-sm-3">
                <div class="input-group right-inner-addon">
                  <input type="text" class="form-control" name="time" placeholder="Time">
                  <i class="glyphicon glyphicon-time"></i>
                </div>
              </div>
            </div> <!-- End .form-group -->

            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary">Reserve</button>
              </div>
            </div> <!-- End .form-group -->

            <div class="form-group">
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning</strong>: Please
                <a href="tel:+85212345678" class="alert-link">
                call</a> us to reserve for more than six guests.
              </div>
            </div>

          </form>
        </div>
    </div>

</div>
