<%= render 'header', active: 'home' %>

<div class="container">
    <%= render 'breadcrumbs', parents: [], child: 'Home' %>

    <div class="row row-content">
      <div class="col-xs-12 col-sm-3 col-sm-push-9">
          <p style="padding:20px;"></p>
          <h3 align="center">Our Lipsmacking Culinary Creations</h3>
      </div>
      <div class="col-xs-12 col-sm-9 col-sm-pull-3">
        <div class="media">
          <div class="media-left media-middle">
            <a  href="#">
              <img class="media-object img-thumbnail"
                   src="img/uthappizza.png" alt="Uthappizza">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">
              Uthappizza  <span class="label label-danger label-xs">Hot</span>
              <span class="badge">$4.99</span>
            </h2>
            <p>A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>
            <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
      <div class="col-xs-12 col-sm-3">
        <p style="padding:20px;"></p>
        <h3 align="center">This Month's Promotions</h3>
      </div>

      <div class="col-xs-12 col-sm-9">
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object img-thumbnail" src="img/buffet.png" alt="Grand Buffet">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">Weekend Grand Buffet</h2>
            <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
            <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <p style="padding:20px;"></p>
            <h3 align=center>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-thumbnail"
                     src="img/alberto.png" alt="Alberto Somayya">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">Alberto Somayya</h2>
              <!-- <h4>Executive Chef</h4> -->
              <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. </p>
              <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
            </div>
          </div>
        </div>
    </div>

    <div class="row row-content" id="reserve_table">
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
            <h3 align=center>Reserve a Table</h3>
        </div>
        <div class="col-xs-12 col-sm-9">
          <form>
            <div class="input-group" style="input{margin-right:10px;}">
              <label>Number of Guests:&nbsp;&nbsp;
                <input type="radio" name="guest_count" value="1">&nbsp;&nbsp;1&nbsp;</input>
                <input type="radio" name="guest_count" value="2">&nbsp;&nbsp;2&nbsp;</input>
                <input type="radio" name="guest_count" value="3">&nbsp;&nbsp;3&nbsp;</input>
                <input type="radio" name="guest_count" value="4">&nbsp;&nbsp;4&nbsp;</input>
                <input type="radio" name="guest_count" value="5">&nbsp;&nbsp;5&nbsp;</input>
                <input type="radio" name="guest_count" value="6">&nbsp;&nbsp;6&nbsp;</input>
              </label>
            </div>

            <div class="form-inline">
              <div class="input-group">
                <label>Date and Time</label>
                <input type="text" name="date" placeholder="Date"/>
                <input type="text" name="time" placeholder="Time"/>
              </div>
            </div>

            <div class="input-group">
              <button type="submit" class="btn btn-primary">Reserve</button>
            </div>
          </form>

          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning</strong>: Please
            <a href="tel:+85212345678" class="alert-link">
            call</a> us to reserve for more than six guests.
          </div>

        </div>
    </div>

</div>
