
<h1><center>Form Horizontal</center></h1>
<form class = "form-horizontal" role="form">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstname"
        name = "firstname" placeholder="Enter First Name">
  </div>
</form>
