<div class="container">

  <form class="form-signin" action="<%= url %>" method="post">
    <%= auth_token %>

    <h2 class="form-signin-heading"><%= header %></h2>

    <label for="inputUsername" class="sr-only">Username</label>
    <input
      type="username" id="inputUsername"
      class="form-control" placeholder="username"
      required="" autofocus="" name="user[username]"
    >

    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password" id="inputPassword"
      class="form-control" placeholder="password"
      required="" name="user[password]">

    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= submit %></button>
  </form>

</div> <!-- /container -->
