    <br><br><br><br><br>
    <h1><center>Responsive Embed</center></h1>
    <div class="embed-responsive embed-responsive-16by9">
      <p> Please uncomment this section in order to see the video.</p>
      <!-- <iframe class="embed-responsive-item"
        width="420" height="315" frameborder="0"
        src="https://www.youtube.com/embed/zK1mLIeXwsQ"
        allowfullscreen
      ></iframe> -->
    </div>

    <br><br><br><br><br>
    <h1><center>Alert Warnings</center></h1>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning</strong>: Please
      <a href="tel:+95212345678" class="alert-link">
      call</a> us to reserve for more than six guests.
    </div>

    <br><br><br><br><br>
    <h1><center>Progress Bar</center></h1>
    <div class="progress">
      <div  class="progress-bar progress-bar-danger progress-bar-striped"
            role="progressbar" style="width: 80%"
            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
      <span class="sr-only">80% Complete (danger)</span>
      80%
      </div>
    </div>

    <br><br><br><br><br>
    <h1><center>Media Class</center></h1>
    <!-- Place media right after media body -->
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img  class="media-object img-thumbnail"
                src="http://res.cloudinary.com/cosmo-connect/image/upload/c_limit,w_90,h_90/v1441875679/pp09jj6vri2bgjvsmdau.jpg"
                alt"Steve Zelaznik"
          >
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">Steve Zelaznik</h2>
        <h4>Software Engineer</h4>
        <p>Award winning three-start Michelein chef with wide international experience having worked closely with whos-who in the culinary world, he specialized in creating mothwatering into-italian fusion experiences.</p>
        <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
      </div>
    </div>

  <br><br><br><br><br>
  <h1><center>Input Group With Addons</center></h1>
  <div class="input-group">
    <div class="input-group-addon">(</div>
      <input
        type="tel" class="form-control"
        id="areacode" name="areacode"
        placeholder="Area Code">
      </input>
    <div class="input-group-addon">)</div>
  </div>

  <br><br><br><br><br>
  <h1><center>Inline Form</center></h1>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="email">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox">Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Sign In</button>
  </form>

  <br><br><br><br><br>
  <h1><center>Form Horizontal</center></h1>
  <form class = "form-horizontal" role="form">
    <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstname"
          name = "firstname" placeholder="Enter First Name">
      </div>
    </div>
  </form>
