li {
  list-style: none;
  float: left;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  background-color: grey;
  width: 95px;
  height: 95px
}

ul {
  padding-left: 0px;

  width: 300px;
  height: 300px;
  border-left: 5px solid black;
  border-top: 5px solid black;

}

li:hover {
  background-color: yellow;
}

.checked {
  background-color: white;
  color: purple;
}

.checked.x {
  text-align: center;
  color: purple;
  font-size: 72px;
  font-weight: bold;
}

.checked.o {
  text-align: center;
  color: green;
  font-size: 72px;
  font-weight: bold;
}
